* {
    font-family: sans-serif;
}

.input, input {
    height: 22px;
    padding: 10px;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
}

select {
    height: 44px;
    padding: 10px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
}

h1 {
    font-family: sans-serif;
    font-weight: lighter;
}

.container {
    display: flex;
    align-items: center;
}

.container > * {
    flex: 1;
    margin: 10px;
}

.container > *.double {
    flex: 2;
}

.sub.container > * {
    margin: 0;
}

.sub.container > *:first-child {
    margin-right: 10px;
}

button {
    background: #0588FF;
    border: none;
    padding: 15px 20px;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
}
